In [1]:
import pandas as pd

In [36]:
players = pd.read_csv('player_elos.csv')
tennis = pd.read_csv('tennis_data.csv')

In [35]:
tennis

,tourney_name,surface,draw_size,tourney_level,best_of,winner_name,winner_age,loser_name,loser_age,Year
0,Auckland,Hard,32,A,3,Tommy Haas,21.7,Jeff Tarango,31.1,2000
1,Auckland,Hard,32,A,3,Juan Balcells,24.5,Franco Squillari,24.3,2000
2,Auckland,Hard,32,A,3,Alberto Martin,21.3,Alberto Berasategui,26.5,2000
3,Auckland,Hard,32,A,3,Juan Carlos Ferrero,19.9,Roger Federer,18.4,2000
4,Auckland,Hard,32,A,3,Michael Sell,27.3,Nicolas Escude,23.7,2000
...,...,...,...,...,...,...,...,...,...,...
71134,Davis Cup WG2 PO: URU vs MDA,Clay,4,D,3,Joaquin Aguilar Cardozo,18.8,Ilya Snitari,21.8,2024
71135,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,3,Nam Hoang Ly,26.9,Philip Henning,23.2,2024
71136,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,3,Kris Van Wyk,27.3,Linh Giang Trinh,26.4,2024
71137,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,3,Nam Hoang Ly,26.9,Kris Van Wyk,27.3,2024
71138,Davis Cup WG2 PO: VIE vs RSA,Hard,4,D,3,Philip Henning,23.2,Linh Giang Trinh,26.4,2024

In [40]:
players

,Player_Name,Hard_ELO,Clay_ELO,Grass_ELO,Player_age,Games_played
0,Carlos Palencia,1500.449854,1499.749119,1500.000000,44.0,3
1,Yasitha De Silva,1500.000000,1498.883319,1500.000000,28.6,3
2,Danai Udomchoke,1490.510481,1497.807468,1495.848787,43.5,117
3,Franco Ferreiro,1499.524339,1499.170112,1500.000000,39.8,8
4,Freddy Murray,1500.000000,1505.000000,1500.000000,21.1,1
...,...,...,...,...,...,...
2543,Roko Karanusic,1490.177679,1495.533429,1497.578737,41.4,55
2544,Roberto Bautista Agut,1553.433845,1518.940975,1563.123954,35.8,666
2545,Suk Young Jeong,1499.309707,1500.000000,1500.000000,30.9,9
2546,John El Khoury,1500.000000,1499.749995,1500.000000,38.5,1
2547,Luis Manuel Flores,1500.126028,1500.000000,1500.000000,39.4,2

In [13]:
tennis_data

NameError: name 'tennis_data' is not defined